@import "./mixins/mixins";
@import "./variables/variables";

@include font-face('Inter', '../fonts/Inter-Regular', 400, normal, ttf);
@include font-face('Inter', '../fonts/Inter-Medium', 500, normal, ttf);
@include font-face('Inter', '../fonts/Inter-SemiBold', 600, normal, ttf);
@include font-face('Inter', '../assets/fonts/Inter-Bold', 700, normal, ttf);

@import "./core/reset";
@import "./core/template";
// @import "./core/grid";
// @import "./core/form";
// @import "./core/table";
@import "./core/modal";
@import "./core/dashboard";
@import "./core/tool.scss";

@import "../fonts/cor/style.css";

.cor_themeSwitcher {
    display: flex;
    align-items: center;
    gap: 0.75em;
    margin-right: 0.75em;

    i {
        font-size: 1.5em;
        line-height: 1;
        color: #ffffff;
        cursor: pointer;

        &.active {
            color: #00B5FF;
            cursor: default;
        }
    }

    input[type=checkbox].cor_switcher {
        appearance: none;
        font-size: 1em;
        width: 1.625em;
        height: 0.875em;
        border-radius: 0.5em;
        background: #00B5FF;
        padding: 0.125em;
        display: flex;
        flex-direction: row;
        cursor: pointer;

        &:before {
            content: '';
            width: 0.625em;
            height: 0.625em;
            background: #FFFFFF;
            border-radius: 50%;
            flex: none;
        }

        &:checked {
            flex-direction: row-reverse;
            background: #00B5FF;

            &:before {
                content: '';
                font-size: 1em;
            }
        }

        &.contrast {
            background: transparent;
            outline: 1px solid #00B5FF;

            &:hover {
                background: transparent;
            }

            &:before {
                background: #00B5FF;
            }
        }
    }
}

.cor_header {
    background: #215794;
    padding: 0.6em 0.9em 0.45em;
    gap: 1.875em;

    .dark & {
        background: #16171D;
    }

    &__logo {
        margin: -3em 0;
        display: block;
        width: 6em;
        cursor: pointer;
    }

    &__content {
        color: white;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    &__left {
        display: flex;
        align-items: center;
    }

    &__ver {
        font-size: 0.875em;
        margin-left: 0.875em;
        cursor: pointer;
    }

    &__center {
        display: flex;
        flex-direction: row;

        & div {
            padding: 0 1em;
        }
    }

    &__right {
        gap: 1.2em;
        padding-right: 0.3em;
        display: flex;
        align-items: center;
    }
}
