/* START TOOL ##################################### */

.tool {
    &__position {
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        height: 100%;
        padding: 2em;
    }

    &__row {
        display: flex;
        align-items: center;
    }

    &__col {

        margin-right: 2.75em;

        &:last-child {
            margin-right: 0;
            flex-grow: 1;

            .tool__list {
                justify-content: flex-end;
            }

        }

    }

    &__list {
        margin: 0;
        padding: 0;
        list-style: none;

        display: flex;
        align-items: center;
    }

    &__item {
        display: flex;
        align-items: center;
        justify-content: center;

        min-width: 2.125em;
        height: 2.125em;
        border-radius: 0.375em;
        padding: 0 0.375em;
        border: 1px solid transparent;

        margin-right: 0.375em;

        &:last-child {
            margin-right: 0;
        }

        background-color: #FFFFFF;
        color: #595C6C;
        box-shadow: 0 4px 30px 0 rgba(0, 0, 0, 0.10);
        cursor: pointer;
        transition: 0.3s;

        i {
            font-size: 1.125em;
        }

        .dark & {
            color: $navbar_dark_icon_color;
            background-color: $navbar_dark_icon_bg;
            border: 1px solid $navbar_dark_icon_border;
        }

        &:hover:not(.active) {
            border: 1px solid rgba(0, 181, 255, 0.20);

            .dark & {
                border-color: $navbar_dark_icon_border_hover;
                background: $navbar_dark_icon_bg_hover;
            }

        }

        &.active {
            border: 1px solid rgba(0, 181, 255, 0.40);
            background-color: #EAF5FB;

            .dark & {
                color: $navbar_dark_icon_color_active;
                background: $navbar_dark_icon_bg_active;
                border-color: $navbar_dark_icon_border_active;
            }
        }

        &_weihgt {
            position: relative;
        }

        &_color {
            position: relative;
            z-index: 5;

            span {
                display: block;
                width: 1em;
                height: 1em;
                border-radius: 0.1875em;
            }

            &:hover {
                border-top-left-radius: 0;
                border-top-right-radius: 0;

                .tool__select {
                    display: block;
                    animation: fadeUp 0.3s;
                }
            }
        }

        &_opacity {
            .tool__change {
                margin-left: 0.5em;
            }
        }
    }

    &__weihgt {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        left: 1em;

        span {
            display: block;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%,-50%);
            border-radius: 100%;
        }
    }

    &__opacity {}

    &__color {
        // input[type=color] {
        //     display: none;
        // }
    }

    &__select {
        display: none;
        position: absolute;

        bottom: 100%;
        left: 50%;
        transform: translateX(-50%);

        border: 1px solid rgba(0, 181, 255, 0.20);
        border-radius: 0.375em;
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;
        padding: 0.5em;
        background-color: #fff;

        .dark & {
            color: $navbar_dark_icon_color;
            background-color: $navbar_dark_icon_bg_hover;
            border: 1px solid $navbar_dark_icon_border_hover;
        }

        cursor: pointer;

        span {
            margin-bottom: 0.5em;

            &:last-child {
                margin-bottom: 0;
            }
        }
    }

    &__change {
        position: relative;
        margin-left: 1.375em;
        margin-right: 0.125em;

        input[type=number] {
            background-color: transparent;
            border: 0;
            font-family: $main_font_family;
            color: #666F7E;
            padding: 0 0.75em 0 0;
            outline: none;
            font-size: 0.875em;
            font-weight: 400;
            transition: 0.3s;
            text-align: center;

            &:hover {}

            &:focus {}

            &.invalid {}
        }

        input[type=search]::-webkit-search-cancel-button,
        input[type=search]::-webkit-search-decoration {
            appearance: none;
        }

        /* Для Chrome */
        input[type=number]::-webkit-inner-spin-button,
        input[type=number]::-webkit-outer-spin-button {
            height: auto;
            appearance: none;
            margin: 0;
        }

        .minus,
        .plus {
            padding: 0;
            border: none;
            font: inherit;
            color: inherit;
            background-color: transparent;
            cursor: pointer;
            line-height: 1;
            color: #595C6C;
            position: absolute;
            right: 0;

            font-size: 0.5em;
            transition: 0.3s;

            i {
                font-weight: bold;
            }

            &.disabled {
                cursor: not-allowed;
                color: rgba(#595C6C, 0.15);
            }
        }

        .minus {
            bottom: -0;

        }

        .plus {
            top: -0;

            i {
                display: inline-block;
                transform: scale(-1);
            }
        }
    }

}

@keyframes fadeUp {
    0% {
        transform: translateY(0.5em)translateX(-50%);
        opacity: 0;
    }

    100% {
        transform: translateY(0)translateX(-50%);
        opacity: 1;
    }
}

/* END TOOL ####################################### */
