extends layout/layout.pug

block content
    .tool__position
        .tool
            .tool__conetnt
                .tool__naw
                    //- start tool__part
                    .tool__part
                        .tool__btn
                            i.cor_icon_picture
                            span.tool__label Вставить фото
                    //- end tool__part

                    //- start tool__part_children
                    .tool__part.tool__part_children
                        //- start .tool__btn
                        .tool__btn
                            i.cor_icon_pen-tool
                            span.tool__label Инструменты
                                i.cor_icon_show-more
                            ul.tool__list
                                li.tool__item(id="toolID-Straight" title="Прямая линия (горячая клавиша: l) [нажмите, чтобы переключиться]")
                                    i.cor_icon_back-round.active
                                    span Прямая линия

                                each item in ['', '', '' ]
                                    li.tool__item(id="toolID-Pencil" title="Карандаш (горячая клавиша: p) [нажмите, чтобы переключиться]")
                                        i.cor_icon_brush
                                        span карандаш
                        //- end .tool__btn
                        //- start .tool__btn
                        .tool__btn
                            i.cor_icon_brush
                            span.tool__label Кисть
                                i.cor_icon_show-more
                            ul.tool__list
                                li.tool__item(id="toolID-Straight" title="Прямая линия (горячая клавиша: l) [нажмите, чтобы переключиться]")
                                    i.cor_icon_back-round
                                    span Прямая линия

                                each item in ['', '', '' ]
                                    li.tool__item(id="toolID-Pencil" title="Карандаш (горячая клавиша: p) [нажмите, чтобы переключиться]")
                                        i.cor_icon_brush
                                        span карандаш
                        //- end .tool__btn        
                        //- start .tool__btn
                        .tool__btn
                            i.cor_icon_figure
                            span.tool__label Формы
                                i.cor_icon_show-more
                            ul.tool__list
                                li.tool__item(id="toolID-Straight" title="Прямая линия (горячая клавиша: l) [нажмите, чтобы переключиться]")
                                    i.cor_icon_back-round
                                    span Прямая линия

                                each item in ['', '', '' ]
                                    li.tool__item(id="toolID-Pencil" title="Карандаш (горячая клавиша: p) [нажмите, чтобы переключиться]")
                                        i.cor_icon_brush
                                        span карандаш
                        //- end .tool__btn

                    //- end tool__part_children

                    //- start tool__part
                    .tool__part.tool__part_color
                        .tool__preview
                        .tool__fontweight
                            <button class="minus" type="button" onclick="this.nextElementSibling.stepDown(); this.nextElementSibling.onchange();"><i class="cor_icon_show-more"></i></button>

                            <input type="number" step="1" min="1" max="32" value="4" readonly>

                            <button class="plus" type="button" onclick="this.previousElementSibling.stepUp(); this.previousElementSibling.onchange();"><i class="cor_icon_show-more"></i></button>

                    //- end tool__part

                    //- start tool__part
                    .tool__part
                        .tool__btn
                            i.cor_icon_trash
                            span.tool__label Очистить
                    //- end tool__part
