$icomoon-font-family: "cor" !default;
$icomoon-font-path: "fonts" !default;

$cor_icon_alarm: "\e900";
$cor_icon_arrow-next: "\e901";
$cor_icon_arrow-prev: "\e902";
$cor_icon_arrow-round-next: "\e903";
$cor_icon_arrow-round-prev: "\e904";
$cor_icon_attachment: "\e905";
$cor_icon_back: "\e906";
$cor_icon_back-round: "\e907";
$cor_icon_battery: "\e908";
$cor_icon_bell: "\e909";
$cor_icon_biology: "\e90a";
$cor_icon_block: "\e90b";
$cor_icon_block-ban: "\e90c";
$cor_icon_browser: "\e90d";
$cor_icon_brush: "\e90e";
$cor_icon_bullet: "\e90f";
$cor_icon_calculator: "\e910";
$cor_icon_caret: "\e911";
$cor_icon_caret-double-down: "\e912";
$cor_icon_change: "\e913";
$cor_icon_change-replace: "\e914";
$cor_icon_chat: "\e915";
$cor_icon_checkmark-list: "\e916";
$cor_icon_chemistry: "\e917";
$cor_icon_clip: "\e918";
$cor_icon_clock-back: "\e919";
$cor_icon_clock-back2: "\e91a";
$cor_icon_close: "\e91b";
$cor_icon_compass: "\e91c";
$cor_icon_copy-paste: "\e91d";
$cor_icon_delete: "\e91e";
$cor_icon_delivery: "\e91f";
$cor_icon_dock: "\e920";
$cor_icon_dots: "\e921";
$cor_icon_dots-menu: "\e922";
$cor_icon_dotts: "\e923";
$cor_icon_download: "\e924";
$cor_icon_edit: "\e925";
$cor_icon_electricity: "\e926";
$cor_icon_figure: "\e927";
$cor_icon_figures: "\e928";
$cor_icon_file: "\e929";
$cor_icon_file-excel: "\e92a";
$cor_icon_file-pp: "\e92b";
$cor_icon_file-word: "\e92c";
$cor_icon_file-xls: "\e92d";
$cor_icon_film: "\e92e";
$cor_icon_filter: "\e92f";
$cor_icon_flask: "\e930";
$cor_icon_folder: "\e931";
$cor_icon_full-screen: "\e932";
$cor_icon_gear: "\e933";
$cor_icon_grid: "\e934";
$cor_icon_hand: "\e935";
$cor_icon_info: "\e936";
$cor_icon_lens-left: "\e937";
$cor_icon_lens-right: "\e938";
$cor_icon_lock: "\e939";
$cor_icon_log-out: "\e93a";
$cor_icon_log-out-circle: "\e93b";
$cor_icon_mac: "\e93c";
$cor_icon_menu: "\e93d";
$cor_icon_messages: "\e93e";
$cor_icon_microphone: "\e93f";
$cor_icon_microphone-mute: "\e940";
$cor_icon_microscope: "\e941";
$cor_icon_minimize: "\e942";
$cor_icon_minus: "\e943";
$cor_icon_monitor: "\e944";
$cor_icon_monitor-off: "\e945";
$cor_icon_moon: "\e946";
$cor_icon_mute: "\e947";
$cor_icon_next: "\e948";
$cor_icon_next-round: "\e949";
$cor_icon_notes: "\e94a";
$cor_icon_pen-tool: "\e94b";
$cor_icon_pencil: "\e94c";
$cor_icon_phisic: "\e94d";
$cor_icon_photocamera: "\e94e";
$cor_icon_picture: "\e94f";
$cor_icon_play: "\e950";
$cor_icon_play-round: "\e951";
$cor_icon_play-setting: "\e952";
$cor_icon_plus: "\e953";
$cor_icon_prev: "\e954";
$cor_icon_print: "\e955";
$cor_icon_question: "\e956";
$cor_icon_question-circle: "\e957";
$cor_icon_reload: "\e958";
$cor_icon_robot: "\e959";
$cor_icon_rocket: "\e95a";
$cor_icon_save: "\e95b";
$cor_icon_school: "\e95c";
$cor_icon_search: "\e95d";
$cor_icon_send: "\e95e";
$cor_icon_share: "\e95f";
$cor_icon_share-slim: "\e960";
$cor_icon_show-less: "\e961";
$cor_icon_show-more: "\e962";
$cor_icon_silence: "\e963";
$cor_icon_smileys: "\e964";
$cor_icon_sort: "\e965";
$cor_icon_sort-asc: "\e966";
$cor_icon_sort-desc: "\e967";
$cor_icon_sort-text: "\e968";
$cor_icon_sort-text-desc: "\e969";
$cor_icon_stop: "\e96a";
$cor_icon_student: "\e96b";
$cor_icon_student-round: "\e96c";
$cor_icon_sun: "\e96d";
$cor_icon_task: "\e96e";
$cor_icon_teacher: "\e96f";
$cor_icon_transmission: "\e970";
$cor_icon_trash: "\e971";
$cor_icon_user: "\e972";
$cor_icon_user-cards: "\e973";
$cor_icon_user-check: "\e974";
$cor_icon_user-group: "\e975";
$cor_icon_user-place: "\e976";
$cor_icon_user-select: "\e977";
$cor_icon_users-profile: "\e978";
$cor_icon_video: "\e979";
$cor_icon_video-off: "\e97a";
$cor_icon_voltage: "\e97b";
$cor_icon_volume: "\e97c";
$cor_icon_wifi: "\e97d";
$cor_icon_window: "\e97e";

